* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
}

#section_pri{
    display: block;
    width: 640px;
    margin: 0 auto;
    height: 35px;
    padding: 15px 0;
}

#title_pri{
    display: block;
    float: left;
    font-size: 28px;
    font-family: 'arial';
    color: deep-green;
}

#btn_filter{
    display: block;
    float: right;
    width: 50px;
    height: 24px;
    margin: 7.5px 5px 0 0;
    border: none;
    color: #fff;
    border-radius: 5px;
    background-color: transparent;
    cursor: pointer;
}
#btn_filter:hover{
    background-color: rgba(255,255,255,0.35);
    
}

#wgt_search{
    display: block;
    float: right;
    margin: 7.5px 15px 0 0;
}
#wgt_search input{
    display: block;
    float: left;
    width: 150px;
    height: 20px;
}
#wgt_search button{
    width: 25px;
    height: 24px;
    cursor: pointer;
}
#wgt_search img{
    width: 12px;
    padding: 4px 2.5px;
}

#list_carga {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha conforme necessário */
    justify-content: space-between; /* Distribui o espaço entre os itens */
    width: 640px;
    padding-bottom: 50px;
    margin: 0 auto;
    margin-top: 15px;
    /* border: solid #000 1px; */
}

.item_carga {
    flex-basis: calc(25% - 15px); /* Calcula a largura de cada item com 15px de margem entre eles */
    height: 75px;
    border-radius: 10px;
    box-shadow: 0px 0px 0.2em #999;   
    margin: 0 0 15px 0; /* Adiciona margem na parte inferior para criar espaço entre os itens */
    list-style: none;
    cursor: pointer;
}

#ban_desc_item{
    display: none;
    position: absolute;
    width: calc(650px - 10px);
    height: 250px;
    margin: 0 auto;
    background-color: #999;
    border-radius: 10px;
}
#btn_close_desc_item{
    display: inline-block;
    padding: 5px;
    right: 0;
    position: absolute;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
    border-radius: 15px;
}